<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Responsive svg sprites with svg-sprite and SVGO</title>
		<link href="vendor/normalize-css/normalize.css" type="text/css" rel="stylesheet"/>
		<link href="example.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<h1>Responsive svg sprites</h1>

		<ul>
			<li>Red dashed border: SVG dimensions</li>
			<li>Green dotted border: Wrapping div dimensions</li>
		</ul>

		<h2>Example #1 - 50px fixed height</h2>

		<div class="first-example">
			{{#shapes}}
				<div class="icon-wrapper">
					<svg class="svg-icon-{{name}}">
						<use xlink:href="icons.svg#{{name}}"></use>
					</svg>
				</div>
			{{/shapes}}
		</div>

		<h2>Example #2 - 100px fixed height</h2>

		<div class="second-example">
			{{#shapes}}
				<div class="icon-wrapper">
					<svg class="svg-icon-{{name}}">
						<use xlink:href="icons.svg#{{name}}"></use>
					</svg>
				</div>
			{{/shapes}}
		</div>

		<h2>Example #3 - responsive behaviour</h2>

		<div class="third-example">
			{{#shapes}}
				<div class="icon-wrapper icon-wrapper-{{name}}">
					<svg class="svg-icon-{{name}}">
						<use xlink:href="icons.svg#{{name}}"></use>
					</svg>
				</div>
			{{/shapes}}
		</div>

		<footer>
			<p>Generated at {{date}} by <a href="https://github.com/axe312ger/responsive-svg-sprites" target="_blank">responsive-svg-sprites</a>.</p>
		</footer>

		<!-- svgxuse is the proper fast alternative to svg4everybody -->
		<script defer src="vendor/svgxuse/svgxuse.js"></script>
	</body>
</html>
