<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Responsive svg sprites with svg-sprite and SVGO</title>
		<link href="vendor/normalize-css/normalize.css" type="text/css" rel="stylesheet"/>
		<link href="example.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<h1>Responsive svg sprites</h1>

		<p>
			The sprites are embedded as reference using the
			<a href="https://developer.mozilla.org/de/docs/Web/SVG/Element/use">&lt;use/&gt;</a>
			tag. The single components within the external sprite image are accessed via an
			<a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Content_type#IRI">IRI reference</a>.
		</p>

		<p>
			Since IE 9-11 and some old Android devices have trouble with external SVG
			resources, the <a href="https://github.com/Keyamoon/svgxuse">svgxuse</a>
			polyfill is used to fix this issue. Keyamoon's approach is way more performant
			as <a href="https://github.com/jonathantneal/svg4everybody">svg4everybody</a>.
			IE 8 and below are not supported.
		</p>

		<h2>Examples</h2>

		<p>The following outlines are given to visualize the element boundaries.</p>

		<ul>
			<li>Red dashed outline: SVG dimensions</li>
			<li>Green dotted outline: Wrapping div dimensions</li>
		</ul>

		<main>
			<section>
				<h3>Example #1 - 1.5em fixed height</h3>

				<div class="example first-example">
					{{#shapes}}
						<div class="icon-wrapper">
							<svg class="svg-icon-{{name}}">
								<use xlink:href="icons.svg#{{name}}"></use>
							</svg>
							<span>{{name}}</span>
						</div>
					{{/shapes}}
				</div>

				<h3>Example #2 - 50px fixed height</h3>

				<div class="example second-example">
					{{#shapes}}
						<div class="icon-wrapper">
							<svg class="svg-icon-{{name}}">
								<use xlink:href="icons.svg#{{name}}"></use>
							</svg>
						</div>
					{{/shapes}}
				</div>
			</section>
			<section>
				<h3>Example #3 - responsive behaviour</h3>

				<div class="example third-example">
					{{#shapes}}
						<div class="icon-wrapper icon-wrapper-{{name}}">
							<svg class="svg-icon-{{name}}">
								<use xlink:href="icons.svg#{{name}}"></use>
							</svg>
						</div>
					{{/shapes}}
				</div>
			</section>
		</main>

		<h2>SVG default behavior of your browser</h2>

		<p>No width and height set, no css applied. Usually this will result in 300×150px image.</p>

		{{#shapes}}
			<svg class="svg-icon-{{name}}">
				<use xlink:href="icons.svg#{{name}}"></use>
			</svg>
		{{/shapes}}

		<footer>
			<p>Generated at {{date}} by <a href="https://github.com/axe312ger/responsive-svg-sprites" target="_blank">responsive-svg-sprites</a>.</p>
		</footer>

		<!-- svgxuse is the proper fast alternative to svg4everybody -->
		<script defer src="vendor/svgxuse/svgxuse.js"></script>
	</body>
</html>
